:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.menu {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.card-container {
  display: grid;
  height: 100%;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  /* grid-template-rows: repeat(3, 30vh); */
  gap: 0.5rem;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  overflow: hidden;
  aspect-ratio: 0.7;
  min-width: 0; /* allow grid item to shrink horizontally */
  min-height: 0; /* allow grid item to shrink vertically */
}

.card.selected {
  border: 2px black solid !important;
}

.card.active {
  border: 2px solid rgb(89, 108, 255);
  box-shadow: 2px 3px 11px 0px grey;
}

.card.flipped {
  font-size: 3rem;
}

.card.can-select {
  animation: pulse 1s ease infinite alternate;
  box-shadow: 1px 2px 8px 0px rgb(84, 176, 84);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.play-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background-color: rgb(222, 248, 255);
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 0 1rem;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block; /* Removes inline gap issues */
}

.minimap {
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 0.1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.2rem;
}

.minimap .allowed {
  background-color: #a0ffa0;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.minimap .not-allowed {
  background-color: rgb(255, 141, 141);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.info {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
.info h3 {
  padding: 1rem;
  border-radius: 8px;
  background-color: #fbf6f6;
}
